.paragraph-style {
  font-size: 16px;
  font-weight: 500;
}

.text-black {
  color: #000;
  text-align: justify;
  padding: 20px;
}

.text-white {
  color: #fff;
  text-align: center;
  width: 450px;
}
