.App-header {
  background-repeat: no-repeat;
}

.image-1 {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("/public/images/firstSection.png");
}

.image-2 {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("/public/images/secondSection.png");
}

.image-3 {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("/public/images/thirdSection.png");
}

.image-4 {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("/public/images/fourthSection.png");
}
